.article-section {
  padding-inline: 5rem;
  display: flex;
}
@media screen and (max-width: 56.25em) {
  .article-section{
    padding-inline: 2rem;
  }
}
@media screen and (max-width:69.375em) {
  .article-section{
    flex-direction: column;
  }
}
.article-container {
  width: 55%;
}
@media screen and (max-width:69.375em) {
  .article-container{
    width: 100%;
  }
}
.back-link {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.back-link a {
  text-decoration: none;
  color: var(--orange-color);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: all, 0.4s;
}
.back-link a:hover {
  color: var(--brown-color);
}
.article-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: var(--brown-color);
}
@media screen and (max-width: 40.75em) {
  .article-title{
    font-size: 2.5rem;
  }
}
.article-img {
  width: 100%;
  height: 40rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-content  {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
}
.featured-articles-cont {
  width: 45%;
  padding: 0rem 2rem;
}
@media screen and (max-width:69.375em) {
  .featured-articles-cont{
    padding-inline: 0;
    padding-block: 2rem;
    width: 100%;
  }
}
.featured-articles-title {
  font-size: 2.6rem;
  font-weight: 800;
  text-transform: capitalize;
}
.featured-article-card-link {
  color: black;
  transition: all, 0.5s;
}
.featured-article-card-link :hover {
  color: var(--orange-color);
}
.featured-article-card {
  margin-top: 2rem;
  width: 100%;
  height: 12rem;
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}
@media screen and (max-width:69.375em) {
  .featured-article-card{
    height: 13.5rem;
  }
}
.featured-article-left {
  width: 30%;
}
.featured-article-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-article-right {
  width: 70%;
  padding-left: 1rem;
}
.featured-article-title {
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: capitalize;
}
@media screen and (max-width: 31.25em) {
  .featured-article-title{
    font-size: 1.5rem;
  }
}
.featured-article-details {
  display: flex;
}
@media screen and (max-width: 31.25em) {
  .featured-article-details{
    flex-direction: column;
  }
}
.featured-article-details p {
  font-size: 1.4rem;
  margin-right: 1.5rem;
  font-style: italic;
  text-transform: capitalize;
}
.more-articles {
  margin-top: 4rem;
}
