.edit-blog-section {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.edit-form {
  width: 70%;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width:50em) {
  .edit-form{
    width: 90%;
  }
}
.edit-form-title {
  font-size: 3rem;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--brown-color);
  margin-bottom: 2rem;
}
@media screen and (max-width:50em) {
  .edit-form-title{
    font-size: 2.5rem;
  }
}
.title-input,
.excerpt-input,
.img-input-cont {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
label {
  text-transform: capitalize;
  font-weight: 500;
  color: gray;
}
.input{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.4rem;
}
.input p{
  color: var(--orange-color);
  text-transform: capitalize;
}
.title-input input {
  width: 100%;
  height: 5rem;
  border: 1px solid var(--brown-color);
  padding: 1rem;
  font-size: 1.6rem;
  outline: none;
  font-family: inherit;
}

.title-input input::placeholder {
  color: gray;
  font-size: 1.4rem;
}

.excerpt-input textarea {
  width: 100%;
  height: 15rem;
  border: 1px solid var(--brown-color);
  padding: 1rem;
  font-size: 1.6rem;
  outline: none;
  font-family: inherit;
  resize: vertical;
}
.excerpt-input textarea::placeholder {
  color: gray;
  font-size: 1.4rem;
}
.save-btn {
  padding: 1rem 2rem;
  border: 1px solid var(--brown-color);
  background-color: transparent;
  color: var(--brown-color);
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
}
